.feedbackBtn {
    background-color: rgb(97, 218, 251); 
    color: rgb(40, 44, 52); 
    padding: 10px 35px; 
    border-radius: 30px; 
    margin: 25px 0px; 
    display: flex; 
    justify-content: center;
    outline: none;
    cursor: pointer;
}

.feedback-derictory {
    width: 80%;
}