.feedback-container {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    background: rgb(97, 218, 251); 
    position: relative;
    height: 210px;
    text-overflow: ellipsis;

    &:before {
        content: '';
        width: 80px;
        height: 100%;
        background: rgb(97, 218, 251); 
        -webkit-transform: skew(15deg);
        -moz-transform: skew(15deg);
        -o-transform: skew(15deg);
        transform: skew(15deg);
        position: absolute;
        right:-32px;
        overflow: hidden;
    }

    &:after {
        content: '';
        width: 80px;
        height: 100%;
        background: rgb(97, 218, 251); 
        -webkit-transform: skew(15deg);
        -moz-transform: skew(15deg);
        -o-transform: skew(15deg);
        transform: skew(15deg);
        position: absolute;
        left: -32px;
        overflow: hidden;
    }

    .feedback-img {
        position: relative;
        z-index: 6;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        margin: 0 55px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .feedback-details {
        width: 70%;
        .feedback-username {
            font-size: 35px;
        }

        .feedback-text {
            overflow: hidden;
            display: -webkit-box;
            position: relative;
            line-clamp: 3;
            -webkit-line-clamp: 3;
            color: rgb(40, 44, 52);
            font-size: 15px;
            z-index: 5;
            -webkit-box-orient: vertical;
            text-align: left;
        }

        .feedback-text__details {
            color: rgb(40, 44, 52);
            text-decoration: underline;
            text-align: left;
            position: relative;
            z-index: 5;
            cursor: pointer;
        }
    }
}

@media (min-width: 1105px) and (max-width : 1343px) {
    .feedback-container {
    
        &:before {
            width: 60px;
            -webkit-transform: skew(10deg);
            -moz-transform: skew(10deg);
            -o-transform: skew(10deg);
            transform: skew(10deg);
        }
    
        &:after {
            width: 60px;
            -webkit-transform: skew(10deg);
            -moz-transform: skew(10deg);
            -o-transform: skew(10deg);
            transform: skew(10deg);
        }
    }
}